@using System.Globalization
@model IEnumerable<GameModel> 

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 pb-3">
        @foreach (var gameModel in Model)
        {
            <div class="col">
                <div class="card border-0 p-3 shadow rounded">
                    <img src="@gameModel.ImageUrl" class="card-img-top" alt="Game Image"/>
                    <div class="card-body pb-0">
                        <div class="text-center">
                            <p class="card-title h5 text-uppercase">@gameModel.Title</p>
                            <p class="card-title text-warning">by <b>@gameModel.Publisher</b></p>
                        </div>
                        <div class="text-center">
                            <p class="text-dark text-opacity-75">
                                Regular price <span class="text-decoration-line-through">@gameModel.RegularPrice.ToString("c", new CultureInfo("en-US"))</span>
                            </p>
                            <p class="text-dark text-opacity-75">
                                Prices starting from: <span>@gameModel.Price100.ToString("c", new CultureInfo("en-US"))</span>
                            </p>
                        </div>
                    </div>
                    <div class="text-center">
                        <a asp-action="Details" asp-route-id="@gameModel.Id" class="btn btn-primary bg-gradient border-0">
                            Details
                        </a>
                    </div>
                </div>  
            </div>
        }
    </div>
</div>
